div.tooltip {
	display: none;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	width: 320px;
	padding-left: 10px;
	font-size: 12px;
	position: absolute;
}

text.colorscale {
	font-size: 10px;
	text-anchor: middle;
	font-family: sans-serif;
}

text.year {
	font-size: 16px;
}

text.current-year {
	font-size: 20px;
}